{% trans_default_domain 'admin' %}

{% set active = "blog" %}

{% extends 'PuzzleAdminBundle::layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "blog.base"|trans }} {% endblock %}

{% block mainicon %}<i class="{{ "blog.icon"|trans }}"></i>{% endblock %}
{% block maintitle %}{{ "blog.base"|trans }}{% endblock %}
{#{% block extrasidebartoggle %}<li><a class="sidebar-mobile-detached-toggle"><i class="icon-grid7"></i></a></li>{% endblock %}#}